/* editor.component.css */
.editor {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  width: 80vw; /* Ustawienie szerokości na 80% szerokości widoku */
  max-width: 800px; /* Ustawienie maksymalnej szerokości dla lepszej responsywności */
  margin: auto;
}

.page-container {
  position: relative;
}

svg{
  height: 100vh;
}

.page-textarea {
  background-color: white;
  position: relative;
  box-sizing: border-box;
  width: 595px;
  height: 842px;
  padding: 10px;
  border: 1px solid #ccc;
  margin: auto;
  margin-bottom: 20px;
  overflow: none;
  text-align: left;
  line-break: anywhere;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.insert-button {
  margin-left: 10px;
}

.draw-button {
  margin-left: 10px;
}

