<div class="editor">
  <h1>PDF Editor</h1>

  <div class="toolbar">
    <button mat-icon-button (click)="insertShape('square')">
      <mat-icon>crop_square</mat-icon>
    </button>
    <button mat-icon-button (click)="insertShape('circle')">
      <mat-icon>panorama_fish_eye</mat-icon>
    </button>
    <button mat-icon-button (click)="insertShape('rectangle')">
      <mat-icon>crop_16_9</mat-icon>
    </button>
    <input type="file" id="imageInput" style="display: none" (change)="handleImageInput($event)">
    <button mat-icon-button (click)="addImage()">
      <mat-icon>add_a_photo</mat-icon>
    </button>
    <button mat-icon-button (click)="insertShape('rubber')" [style.color]="rubberButtonColor">
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>

  <div class="page-container" (click)="setCursorPosition($event)" #pageContainer>
    <kendo-pdf-export #pdf paperSize="A4">
      <div *ngFor="let page of pages" class="page-textarea" contenteditable="true" (paste)="checkOverflow($event)" (input)="checkOverflow($event)"  #editor>
      </div>
    </kendo-pdf-export>
  </div>
  <div class="example-config">
    <button kendoButton (click)="exportAsPDF()">
      Download as PDF
    </button>
  </div>
</div>
